<main class="main">
  <div class="block">
    
  </div>
  <div class="block">

  </div>
  <div class="block">

  </div>
  <div class="block">

  </div>
  <div class="block">

  </div>
  <div class="block">

  </div>
  <div class="block">

  </div>
  <div class="block">

  </div>

<button class="button--up" id="buttonScroll">
    <img src="/svg/button_up.svg" >
</button>
</main>