<main>
    <nav class="navigation">

        <button class="nav__button" id="back">
            <img src="/svg/back.svg">
        </button>
        <button class="nav__button" id="forward">
            <img src="/svg/forward.svg">
        </button>
        <button class="nav__button" id="reload">
            <img src="/svg/reload.svg">
        </button>
        <button class="nav__button" id="home">
            <img src="/svg/home.svg">
        </button>
        <input type="text" class="nav__input" id="input">
        <button class="nav__button" id="go">
            <img src="/svg/go.svg">
        </button>

    </nav>
</main>